@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fcf7f7;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    min-height: 100vh;
    margin: 0 auto;
}

/*input style*/
.input-main {
    position: relative;
}

.input-style {
    color: hsl(236, 32%, 26%);
    font-size: inherit;
    font-family: inherit;
    background-color: hsla(0, 0%, 100%, 0.78);
    padding: 0.35em 0.45em;
    border: 2px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

.input-style:focus {
    outline: none;
}

.input-style::placeholder {
    color: hsl(236, 32%, 26%);
}

.input-main span {
    position: absolute;
    background-color: #3cefff;
    transition: transform 0.5s ease;
}

.input-bottom,
.input-top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.input-left,
.input-right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.input-bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.input-style:focus ~ .input-bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.input-right {
    right: 0;
    transform-origin: top right;
}

.input-style:focus ~ .input-right {
    transform-origin: bottom right;
    transform: scaleY(1);
}

.input-top {
    top: 0;
    transform-origin: top left;
}

.input-style:focus ~ .input-top {
    transform-origin: top right;
    transform: scaleX(1);
}

.input-left {
    left: 0;
    transform-origin: bottom left;
}

.input-style:focus ~ .input-left {
    transform-origin: top left;
    transform: scaleY(1);
}

/*button style*/
.button-style {
    z-index: 1;
    position: relative;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    color: hsl(236, 32%, 26%);
    padding: 0.5rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #3cefff;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:active {
        transform: scale(.9);
    }
}

.button-style::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    border-radius: 50%;
    background-color: hsl(236, 32%, 26%);
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform .8s ease-in-out;
}

.button-style:hover {
    cursor: pointer;
    color: white;
}

.button-style:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
